@{
    var currentYear = DateTime.Now.Year;
}
<footer class="footer fixed-bottom">
    <div class="container">
        <div class="text-muted text-center">
            <a href="https://github.com/vusal-mustafayev/UrlShortenerTask/blob/master/LICENSE"
               target="_blank" rel="noreferrer"
               class="text-info text-decoration-none me-2">
                Licensed under MIT License
            </a>
            <span class="custom-marker me-2"></span>
            @currentYear
        </div>
    </div>
</footer>